:root{
    --AUDIO-BUTTON-SIZE: 2.5rem;
}
.audio__button{
    border: 0;
    position: absolute;
    width: var(--AUDIO-BUTTON-SIZE);
    height: var(--AUDIO-BUTTON-SIZE);
    left: 0;
    top: 50vh;
    cursor: pointer;
    background-color: transparent;

    transform: translateX(0px);
    transition-duration: 0.3s;
    animation-timing-function: ease-in;
}
.audio__button:disabled{
    transform: translateX(-50px);
    transition-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
}
.audio__button_img{
    width: var(--AUDIO-BUTTON-SIZE);
    height: var(--AUDIO-BUTTON-SIZE);
}

.audio__button_img.audio__button_img_activePositive{
    animation-name: rotateAudioButtonPositive;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}
.audio__button_img.audio__button_img_activeNegative{
    animation-name: rotateAudioButtonNegative;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}
@keyframes rotateAudioButtonPositive {
    0%{
        transform: rotate(0deg);
        border-radius: 0%;
    }
    25%{
        border-radius: 25%;
    }
    50%{
        border-radius: 50%;
    }
    75%{
        border-radius: 25%;
    }
    90%{
        border-radius: 10%;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 0%;
    }
}
@keyframes rotateAudioButtonNegative {
    0%{
        transform: rotate(0deg);
        border-radius: 0%;
    }
    25%{
        border-radius: 25%;
    }
    50%{
        border-radius: 50%;
    }
    75%{
        border-radius: 25%;
    }
    90%{
        border-radius: 10%;
    }
    100%{
        transform: rotate(-360deg);
        border-radius: 0%;
    }
}